In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

# Data Preprocessing and Exploration

In [11]:
data = pd.read_csv("./shark_tank_india(original).csv")
data.head()

,Season Number,Startup Name,Episode Number,Pitch Number,Season Start,Season End,Original Air Date,Episode Title,Anchor,Industry,...,Invested Guest Name,All Guest Names,Namita Present,Vineeta Present,Anupam Present,Aman Present,Peyush Present,Amit Present,Ashneer Present,Guest Present
0,1,BluePineFoods,1,1,20-Dec-21,4-Feb-22,20-Dec-21,Badlegi Business Ki Tasveer,Rannvijay Singh,Food,...,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN
1,1,BoozScooters,1,2,20-Dec-21,4-Feb-22,20-Dec-21,Badlegi Business Ki Tasveer,Rannvijay Singh,Vehicles/Electrical Vehicles,...,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN
2,1,HeartUpMySleeves,1,3,20-Dec-21,4-Feb-22,20-Dec-21,Badlegi Business Ki Tasveer,Rannvijay Singh,Beauty/Fashion,...,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN
3,1,TagzFoods,2,4,20-Dec-21,4-Feb-22,21-Dec-21,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Food,...,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN
4,1,HeadAndHeart,2,5,20-Dec-21,4-Feb-22,21-Dec-21,"Insaan, Ideas Aur Sapne",Rannvijay Singh,Education,...,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 78 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Season Number              478 non-null    int64
 1   Startup Name               478 non-null    object
 2   Episode Number             478 non-null    int64
 3   Pitch Number               478 non-null    int64
 4   Season Start               478 non-null    object
 5   Season End                 478 non-null    object
 6   Original Air Date          447 non-null    object
 7   Episode Title              478 non-null    object
 8   Anchor                     478 non-null    object
 9   Industry                   478 non-null    object
 10  Business Description       478 non-null    object
 11  Company Website            466 non-null    object
 12  Started in                 355 non-null    float64
 13  Number of Presenters       478 non-null    int64
 14  Male Presenters            412 non-null    float64
 15  Female Presenters          226 non-null    float64
 16  Transgender Presenters     3 non-null      float64
 17  Couple Presenters          473 non-null    float64
 18  Pitchers Average Age       478 non-null    object
 19  Pitchers City              473 non-null    object
 20  Pitchers State             474 non-null    object
 21  Yearly Revenue             241 non-null    float64
 22  Monthly Sales              225 non-null    float64
 23  Gross Margin               129 non-null    float64
 24  Net Margin                 73 non-null     float64
 25  EBITDA                     23 non-null     float64
 26  Cash Burn                  64 non-null     object
 27  SKUs                       28 non-null     float64
 28  Has Patents                43 non-null     object
 29  Bootstrapped               48 non-null     object
 30  Original Ask Amount        478 non-null    float64
 31  Original Offered Equity    478 non-null    float64
 32  Valuation Requested        478 non-null    float64
 33  Received Offer             478 non-null    int64
 34  Accepted Offer             321 non-null    float64
 35  Total Deal Amount          268 non-null    float64
 36  Total Deal Equity          268 non-null    float64
 37  Total Deal Debt            62 non-null     float64
 38  Debt Interest              45 non-null     float64
 39  Deal Valuation             267 non-null    float64
 40  Number of Sharks in Deal   268 non-null    float64
 41  Deal Has Conditions        26 non-null     object
 42  Royalty Deal               17 non-null     float64
 43  Advisory Shares Equity     3 non-null      float64
 44  Namita Investment Amount   89 non-null     float64
 45  Namita Investment Equity   89 non-null     float64
 46  Namita Debt Amount         17 non-null     float64
 47  Vineeta Investment Amount  68 non-null     float64
 48  Vineeta Investment Equity  68 non-null     float64
 49  Vineeta Debt Amount        12 non-null     float64
 50  Anupam Investment Amount   75 non-null     float64
 51  Anupam Investment Equity   75 non-null     float64
 52  Anupam Debt Amount         8 non-null      float64
 53  Aman Investment Amount     109 non-null    float64
 54  Aman Investment Equity     109 non-null    float64
 55  Aman Debt Amount           18 non-null     float64
 56  Peyush Investment Amount   89 non-null     float64
 57  Peyush Investment Equity   89 non-null     float64
 58  Peyush Debt Amount         12 non-null     float64
 59  Amit Investment Amount     35 non-null     float64
 60  Amit Investment Equity     35 non-null     float64
 61  Amit Debt Amount           7 non-null      float64
 62  Ashneer Investment Amount  21 non-null     float64
 63  Ashneer Investment Equity  21 non-null     float64
 64  Ashneer Debt Amount        2 non-null      float64
 65  Guest Investment Amount    48 non-null     float64
 66  Guest Investment Equity    48 non-null     float64
 67  Guest Debt Amount          9 non-null      float64
 68  Invested Guest Name        48 non-null     object
 69  All Guest Names            144 non-null    object
 70  Namita Present             389 non-null    float64
 71  Vineeta Present            318 non-null    float64
 72  Anupam Present             424 non-null    float64
 73  Aman Present               420 non-null    float64
 74  Peyush Present             307 non-null    float64
 75  Amit Present               137 non-null    float64
 76  Ashneer Present            99 non-null     float64
 77  Guest Present              144 non-null    float64
dtypes: float64(55), int64(5), object(18)
memory usage: 291.4+ KB

In [5]:
# Removing Unsed Columns
data.drop(["Company Website", "Original Air Date", "Episode Title", "Gross Margin", "Net Margin",
          "EBITDA", "Cash Burn", "SKUs", "Has Patents", "Bootstrapped", "Invested Guest Name", 
           "All Guest Names"], axis = 1, inplace = True)

In [6]:
# Replacing Null Values with Zero, Not Avialble, and No.
def replaceWithZero(features):
    for column in features:
        data[column].fillna(0, inplace = True)
        data[column].astype(np.float16)

def replaceWithNotAvailable(features):
    for column in features:
        data[column].fillna("Not Available", inplace = True)


zero_features = ["Guest Present", "Ashneer Present", "Peyush Present", "Amit Present", "Aman Present", "Anupam Present", "Vineeta Present",
           "Namita Present", "Guest Debt Amount", "Guest Investment Equity", "Guest Investment Amount",
           "Ashneer Debt Amount", "Ashneer Investment Equity", "Ashneer Investment Amount", "Amit Debt Amount",
           "Amit Investment Equity", "Amit Investment Amount", "Peyush Debt Amount", "Peyush Investment Equity",
           "Peyush Investment Amount", "Aman Debt Amount", "Aman Investment Equity", "Aman Investment Amount",
           "Anupam Debt Amount", "Anupam Investment Equity", "Anupam Investment Amount", "Vineeta Debt Amount",
           "Vineeta Investment Equity", "Vineeta Investment Amount", "Namita Debt Amount", "Namita Investment Equity",
           "Namita Investment Amount", "Advisory Shares Equity", "Royalty Deal", 
            "Number of Sharks in Deal", "Deal Valuation", "Debt Interest", "Total Deal Debt", "Total Deal Equity",
           "Total Deal Amount", "Accepted Offer", "Monthly Sales", "Yearly Revenue", "Couple Presenters", "Transgender Presenters", 
            "Female Presenters", "Male Presenters"]

not_available_features = ['Pitchers City', 'Pitchers State', "Started in"]

replaceWithZero(zero_features)
replaceWithNotAvailable(not_available_features)

data["Deal Has Conditions"].fillna("no", inplace = True)

In [7]:
data["Season Start"] = pd.to_datetime(data["Season Start"])
data["Season End"] = pd.to_datetime(data["Season End"])

In [10]:
data.to_csv("sharktank_india(clean).csv")

# Exporting Data to MySQL Server for Further Analysis

In [ ]:
# Establising Connections
engine = create_engine("mysql://root:1234@localhost:3306/SharkTank")
connection = engine.connect()

In [ ]:
try:
    data.to_sql("dataset", con = connection, index = False, if_exists = 'append')
    print("Data Inserted")
except Exception as e:
    print(f"Error: {str(e)}")
finally:
    connection.commit()

Data Inserted